@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('fonts/caviardreams_regular_macroman/CaviarDreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'caviar_dreamsregular', Arial, Helvetica, sans-serif;
    background-color: rgb(255, 225, 225);
}

h1{
    text-align: center;
    background-color: red;
    color: black;
}

.description{
    font-size: 18px;
}

img{
    border: 3px solid red;
}

li{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

ol li{
    font-family: 'Times New Roman', Times, serif;
}